#home .hero-section {
    position: relative;
    margin-left: 40px;
}

#home .hero-headling {
    position: absolute;
    text-align: center;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}

#home .hero-headling h1 {
    font-size: 3.5em;
    margin-bottom: 15px;
}

#home .hero-headling p{
    font-size: 1.5em;
    margin-bottom: 25px;
    color: #fff;
}

#home .hero-section img {
    width: 100%;
    height: 300px;
    filter: brightness(50%);
}

#home .button {
    display: inline-block;
    background-color: #28a745;
    font-size: 16px;
    font-weight: 600; 
    padding: 15px 20px;
    color: #fff;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

#home .button:hover{
    background-color: #32bb52;
    transition: 0.3s ease;
}

#home .button{
    text-align: center;
    margin-top: 30px;
}

#home .buttom{
    text-align: center;
    margin-top: 30px;
}
#home p{
    margin-left: 10px;
    margin-top: 20px;
    color: #555;
    line-height: 1.6;
}
#home ul{
    margin-left: 60px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}



#courses h1 {
    color: blue;
    text-align: center;
}

#courses .video-container{
    margin-top: 30px;
    width: 100%;
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
}

#courses .video-container video{
    width: 100%;
    height: auto;
}

#courses .video-container p{
    color: #555;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 15px;
    line-height: 1.6;
}

#courses .button{
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    border: none;
}

#courses .button:hover{
    background-color: #32bb52;
    transition: 0.3s ease;
}
 
#courses ul{
    color: #555;
    padding-bottom: 10px;
    margin-left: 40px;

}
#courses ul li{
     color: #555;
     margin-top: 10px;
}
#courses table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#courses table thead th {
    background-color: #E9ECEF;
    font-weight: 700;
    padding: 12px;
    color: #343a40;
}

#courses table tbody td{
    border: 1px solid #E9ECEF;
    padding: 12px;
    text-align: left;
    font-size: 0.95em;
    
}

#courses table tr:hover{
    background-color: #E2F0FF;
}

#courses p{
    margin-left: 10px;
    margin-top: 20px;
    color: #555;
    line-height: 1.6;
}

#contact {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}
#contact p{
    margin-left: 10px;
    margin-top: 20px;
    color: #555;
    line-height: 1.6;
}


#contact h1{
    color: blue;
}

#addmission h1{
    color: blue;
}

#addmission p{
    margin-left: 10px;
    margin-top: 20px;
    color: #555;
    line-height: 1.6;
}

#addmission table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#addmission table thead th {
    background-color: #E9ECEF;
    font-weight: 700;
    padding: 12px;
    color: #343a40;
}

#addmission table tbody td{
    border: 1px solid #E9ECEF;
    padding: 12px;
    text-align: left;
    font-size: 0.95em;
    
}

#addmission table tr:hover{
    background-color: #E2F0FF;
}

#addmission ol li {
    color: #555;
    padding-bottom: 15px;
    margin-left: 50px;
}


#addmission ol{
    margin-bottom: 20px;
}

#addmission table{
    margin-bottom: 40px;
}

#about p{
    margin-left: 10px;
    margin-top: 20px;
    color: #555;
    line-height: 1.6;
}

#about h1{
    color: blue;
}

#about {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px #0000000d;
}

#about ul li{
    color: #555;
    padding-bottom: 10px;
}