* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body { 
  background-color: #52d2d2;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
}

.container {
  max-width:950px ;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  height: calc(100vh - 200px);
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}